*.zip
.ipynb_checkpoints
.DS_Store
*.raw

# TeX
main*.out
main*.aux
main*.bbl
main*.blg
main*.fls
main*.log
main*.gz
main*.bib
main.fdb_latexmk
main*.pdf

revised*.out
revised*.aux
revised*.bbl
revised*.blg
revised*.fls
revised*.log
revised*.gz
revised*.bib
revised.fdb_latexmk
revised*.pdf

# response
response-letter.typ